.card {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 1px 8px 0 rgba(0, 0, 0, 0.12) !important;
  margin: 8px;
}

.cardBiggerThanMd {
  margin-inline: 0;
  margin-bottom: 15px;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
}

.cardWrapperAlignCenter {
  align-items: center;
}

.cardContent {
  flex: 1 0 auto;
}

.cardContentLessThan420 {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 5px;
}

.playBtn {
  height: 38;
  width: 38
}

.btnWrapper {
  display: flex;
  align-items: center;
  padding-inline-start: 8px;
  padding-block-end: 8px
}

.cardContentHeaderLessThan420 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 1em;
}

.playerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}